body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color:#2E2F42;
}

header {
    background-color: #ffffff;
}
h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    color: #ffffff;
}

h2 {
    font-weight: 700;
     font-size: 36px;
     line-height: 40px;
     letter-spacing: 2%;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
}

.web-logo {
    color:#4D5AE5;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

}

footer a {
    text-decoration: none;
}

.studio-logo {
    color:#2E2F42;
    font-family: "Raleway";
     font-weight: 700;
     font-size: 18px;
     line-height: 21px;
     text-decoration: none;
}

nav a {
    color:#2E2F42;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
}

.nav-studio {
    width: 48px;
}

.nav-studio:hover {
    color:#404BBF;
}

.nav-studio:active {
    color:#404BBF;
}
.nav-portfolio {
    width: 66px;
}

.nav-portfolio:hover {
    color: #404BBF;
}

.nav-contacts {
    width: 67px;
}
.nav-contacts:hover {
    color: #404BBF;
}

address .email, .tel {
color: #434455;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
height: 24px;
}

address .email {
    width: 153px;
}

address .tel {
    width: 151px;
}

address a {
    color: inherit;
    text-decoration: none;
}

.email:hover, .email:focus, .tel:hover, .tel:focus {
    color:#404BBF;
    text-decoration: none;
}

.h1-button {
    background-color: #2E2F42;
}
.order-service {
    cursor: pointer;
    background-color:#4D5AE5;
}

.text-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color:#ffffff;
}

.description  p {
    color:#434455;
}

.team-list p {
    color:#434455;
}